diff -c -N -r -xpatches -x.symlinks sendmail-8.9.3/BuildTools/OS/IRIX.6.5 sendmail-8.9.3.patch.config/BuildTools/OS/IRIX.6.5
*** sendmail-8.9.3/BuildTools/OS/IRIX.6.5	Tue Dec 29 09:39:53 1998
--- sendmail-8.9.3.patch.config/BuildTools/OS/IRIX.6.5	Wed Aug 18 18:29:00 1999
***************
*** 1,4 ****
! #	@(#)IRIX.6.5	8.2	(Berkeley)	4/24/1998
  PUSHDIVERT(1)
  # Select what ABI we are using -- see abi(5) for details
  #    -32	~ IRIX 5.3				(default: -mips2)
--- 1,4 ----
! #	@(#)IRIX.6.x	8.11	(Berkeley)	4/24/1998
  PUSHDIVERT(1)
  # Select what ABI we are using -- see abi(5) for details
  #    -32	~ IRIX 5.3				(default: -mips2)
***************
*** 22,28 ****
  ABI=	confABI
  POPDIVERT
  define(`confMAPDEF', `-DNDBM -DNIS -DMAP_REGEX')
! define(`confENVDEF', `-DIRIX6 -DHASSNPRINTF=1 ${ABI} ')
  define(`confLDOPTS', `${ABI}')
  define(`confMBINDIR', `/usr/lib')
  define(`confSBINDIR', `/usr/etc')
--- 22,39 ----
  ABI=	confABI
  POPDIVERT
  define(`confMAPDEF', `-DNDBM -DNIS -DMAP_REGEX')
! 
! sysmcd(`uname -r | grep -s '^6\.5')
! define(`confMAPDEF', confMAPDEF ifelse(0, sysval, `-DNEWDB'))
! 
! define(`confENVDEF', `-DIRIX6 ${ABI} ')
! 
! sysmcd(`test "${ROOT} != ""')
! define(`confENVDEF', confENVDEF ifelse(0, sysval, `-I${ROOT}/usr/include'))
! 
! sysmcd(`uname -r | grep -s '^6\.5')
! define(`confENVDEF', confENVDEF ifelse(0, sysval, `-DHASSNPRINTF=1'))
! 
  define(`confLDOPTS', `${ABI}')
  define(`confMBINDIR', `/usr/lib')
  define(`confSBINDIR', `/usr/etc')
diff -c -N -r -xpatches -x.symlinks sendmail-8.9.3/BuildTools/OS/IRIX.6.x sendmail-8.9.3.patch.config/BuildTools/OS/IRIX.6.x
*** sendmail-8.9.3/BuildTools/OS/IRIX.6.x	Tue Dec 29 09:39:48 1998
--- sendmail-8.9.3.patch.config/BuildTools/OS/IRIX.6.x	Wed Aug 18 18:28:54 1999
***************
*** 22,28 ****
--- 22,39 ----
  ABI=	confABI
  POPDIVERT
  define(`confMAPDEF', `-DNDBM -DNIS -DMAP_REGEX')
+ 
+ sysmcd(`uname -r | grep -s '^6\.5')
+ define(`confMAPDEF', confMAPDEF ifelse(0, sysval, `-DNEWDB'))
+ 
  define(`confENVDEF', `-DIRIX6 ${ABI} ')
+ 
+ sysmcd(`test "${ROOT} != ""')
+ define(`confENVDEF', confENVDEF ifelse(0, sysval, `-I${ROOT}/usr/include'))
+ 
+ sysmcd(`uname -r | grep -s '^6\.5')
+ define(`confENVDEF', confENVDEF ifelse(0, sysval, `-DHASSNPRINTF=1'))
+ 
  define(`confLDOPTS', `${ABI}')
  define(`confMBINDIR', `/usr/lib')
  define(`confSBINDIR', `/usr/etc')
diff -c -N -r -xpatches -x.symlinks sendmail-8.9.3/BuildTools/bin/Build sendmail-8.9.3.patch.config/BuildTools/bin/Build
*** sendmail-8.9.3/BuildTools/bin/Build	Sat Jan 23 15:53:26 1999
--- sendmail-8.9.3.patch.config/BuildTools/bin/Build	Wed Aug 18 15:04:16 1999
***************
*** 237,242 ****
--- 237,245 ----
  		rel=$rel.$rela
  		;;
    BSD-386)	os=BSD-OS;;
+   IRIX*)	os=IRIX
+ 		rel=`echo $rel | sed 's/-.*//'`
+ 		;;
    SCO_SV)	os=SCO; rel=`uname -X | sed -n 's/Release = 3.2v//p'`;;
    UNIX_System_V) if [ "$arch" = "ds90" ]
  		then
diff -c -N -r -xpatches -x.symlinks sendmail-8.9.3/cf/cf/Makefile sendmail-8.9.3.patch.config/cf/cf/Makefile
*** sendmail-8.9.3/cf/cf/Makefile	Tue Dec 29 09:42:04 1998
--- sendmail-8.9.3.patch.config/cf/cf/Makefile	Wed May  5 15:16:42 1999
***************
*** 25,31 ****
  	$(CHMOD) $(ROMODE) $@
  
  ALL=	generic-bsd4.4.cf generic-hpux9.cf generic-hpux10.cf \
! 		generic-osf1.cf generic-solaris2.cf \
  		generic-sunos4.1.cf generic-ultrix4.cf \
  	cs-hpux9.cf cs-osf1.cf cs-solaris2.cf \
  		cs-sunos4.1.cf cs-ultrix4.cf \
--- 25,31 ----
  	$(CHMOD) $(ROMODE) $@
  
  ALL=	generic-bsd4.4.cf generic-hpux9.cf generic-hpux10.cf \
! 		generic-irix6.mc generic-osf1.cf generic-solaris2.cf \
  		generic-sunos4.1.cf generic-ultrix4.cf \
  	cs-hpux9.cf cs-osf1.cf cs-solaris2.cf \
  		cs-sunos4.1.cf cs-ultrix4.cf \
diff -c -N -r -xpatches -x.symlinks sendmail-8.9.3/cf/cf/generic-irix6.mc sendmail-8.9.3.patch.config/cf/cf/generic-irix6.mc
*** sendmail-8.9.3/cf/cf/generic-irix6.mc
--- sendmail-8.9.3.patch.config/cf/cf/generic-irix6.mc	Wed May  5 15:15:17 1999
***************
*** 0 ****
--- 1,26 ----
+ divert(-1)
+ #
+ # Copyright (c) 1998 Sendmail, Inc.  All rights reserved.
+ # Copyright (c) 1983 Eric P. Allman.  All rights reserved.
+ # Copyright (c) 1988, 1993
+ #	The Regents of the University of California.  All rights reserved.
+ #
+ # By using this file, you agree to the terms and conditions set
+ # forth in the LICENSE file which can be found at the top level of
+ # the sendmail distribution.
+ #
+ #
+ 
+ #
+ #  This is a generic configuration file for IRIX systems
+ #  It has support for local and SMTP mail only.  If you want to
+ #  customize it, copy it to a name appropriate for your environment
+ #  and do the modifications there.
+ #
+ 
+ divert(0)dnl
+ VERSIONID(`@(#)generic-irix6.mc	8.7 (Berkeley) 2/3/1999')
+ OSTYPE(irix6)dnl
+ DOMAIN(generic)dnl
+ MAILER(local)dnl
+ MAILER(smtp)dnl
diff -c -N -r -xpatches -x.symlinks sendmail-8.9.3/src/conf.c sendmail-8.9.3.patch.config/src/conf.c
*** sendmail-8.9.3/src/conf.c	Tue Jan 26 16:15:52 1999
--- sendmail-8.9.3.patch.config/src/conf.c	Thu Aug 26 16:15:30 1999
***************
*** 3012,3022 ****
  #endif
  #ifdef sgi
  	"/sbin/sh",		/* SGI's shells really live in /sbin */
! 	"/sbin/csh",
  	"/bin/ksh",		/* Korn shell */
  	"/sbin/ksh",
  	"/usr/bin/ksh",
! 	"/bin/tcsh",		/* Extended csh */
  	"/usr/bin/tcsh",
  #endif
  	NULL
--- 3012,3029 ----
  #endif
  #ifdef sgi
  	"/sbin/sh",		/* SGI's shells really live in /sbin */
! 	"/sbin/bsh",		/* classic borne shell */
! 	"/bin/bsh",
! 	"/usr/bin/bsh",
! 	"/sbin/csh",		/* standard csh */
! 	"/sbin/jsh",		/* classic borne shell w/ job control*/
! 	"/bin/jsh",
! 	"/usr/bin/jsh",
  	"/bin/ksh",		/* Korn shell */
  	"/sbin/ksh",
  	"/usr/bin/ksh",
! 	"/sbin/tcsh",		/* Extended csh */
! 	"/bin/tcsh",		
  	"/usr/bin/tcsh",
  #endif
  	NULL
