# $Revision: 1.1 $
#
# The root crontab can be used to perform accounting data collection
#	and cleanup.
#
# Format of lines:
#min	hour	daymo	month	daywk	cmd
#
#
0 2 * * 2-6 /lv2/people/billd/regression/autotest
