#
# This file contains the different diags that will be
# run if this file is specified at the config file for
# onlinediag.  This runs all the tests available for a 
# "paranoid" user.  This could take a long time because
# the inputs for some of the tomcatv tests are big.  
# Add a "#" to the beginning of any diag you would like 
# to omit.  
#

# /usr/diags/online_diags/paranoia
# /usr/diags/online_diags/tomcatv/runtest ref train test

