# Shared-memory operations
ops="fetch_add store"

# Time per test
time=60

# Range of parallel workloads
# Starts at minwork, increasing by delwork, finishing at maxwork
minwork=0
delwork=15
maxwork=150

# First processor to use
# For IP27, use processor 2, to avoid node zero
# If not IP27, use processor 1
mustrun=1

# Number of threads
# Starts at 1, increasing by delnthr, finishing at maxnthr
# Use number of processors minus mustrun
delnthr=1
maxnthr=10
