#ident $Revision: 1.1 $
#
#	This is the configuration file for table driven failover support.
#	The entries within this file consist of a single line per
#	failover grouping.  These lines describe up to four paths to
#	each device.  Obviously, these paths should reference the
#	same device!  Some sanity checking is performed, but the
#	software is not foolproof in this area.  (If it was foolproof,
#	the configuration file would be unnecessary!)  It is recommended
#	that all paths to a device be listed.
#
#	The format of each line consists of a group name followed by
#	up to four device names from the "/dev/scsi" directory.  If
#	it's not in "/dev/scsi", it cannot be configured.  But, this
#	implementation assumes that if a device is not present, its
#	path has failed.  Consequently, no error messages will be
#	generated for missing paths.  This means that you may have a
#	a failover group that consists of a single primary path with
#	no alternates.
#
#	Additionally, there is a configuration directive available that
#	will cause the program to emit debug information.  Placing
#	"#verbose" at the start of a line, without the quotes, will
#	enable the debug output.  The debug output is displayed for
#	all subsequent configuration directives.  Once enabled, the
#	debug output cannot be disabled.
#
#	Lines that begin with a "#" are considered comment lines.
#	A "#" anywhere within a line signals the beginning of a comment.
#	White space must separate the last parameter of a line and the #.
#	Blank lines are also considered a comment.
#
#	--> Lines that begin with 'sc' will be skipped as it's likely a
#	--> configuration error.
#
#	Sample configuration.  (Remember to omit the "#" the start of
#	the line.)
#
#
#  #	Name    Pri path | alt path | alt path | alt path
#
#	GroupA  sc6d50l0   sc7d50l0   sc8d50l0   sc9d50l0
#	GroupB  sc6d51l0   sc7d51l0   sc8d51l0   sc9d51l0       # Some comment
#	GroupC  sc6d52l0   sc7d52l0   sc8d52l0   sc9d52l0
#
#	One word of caution.  The switch to an alternate path is
#	choreographed by XLV.  XLV is a requirement for failover to
#	function.
#
#	Notes:
#
#	It is not possible to change the primary device of a group after
#	the initial configuration by reordering the entries on the line
#	and running /etc/init.d/failover start.  To change the primary, 
#	scsifo may be used to switch to the next available path.
#
#	It is not possible to remove the primary of a group by deleting
#	the entry from the group and running /etc/init.d/failover start.
#	A reboot is necessary.
#
#	To remove the "DOWN" displayed by hinv for the failed path,
#	fix the path and reprobe the bus using scsiha -p #.
#

