#_mkpart.valid.configs
#
# This file contains info about the different partitioning 
# configs that are permitted by default. It is used by mkpart.
# This cannot be edited by the user. Any changes to this file 
# will result in unpredictable behaviour of mkpart.
#
# NMods   NCfgs   <NCombos, (NPartTypes X NModsPerPart) + > ...
#
2 2 1 1 2 1 2 1
4 4 1 1 4 1 4 1 1 2 2 2 1 2 2 1
8 2 1 1 8 1 2 4
16 2 1 1 16 1 4 4

