#
# Annex-UX B6.0.5 src/make.config Tue May 28 14:13:24 PDT 1991
#

AR	= /usr/bin/ar
CC	= /usr/bin/cc
INSTALL	= ../installer # /usr/annex/src/src/installer
RANLIB	= echo done with library
RM	= /bin/rm
SHELL	= /bin/sh

ARFLAGS = vur
INSTALL_DIR = ../../.. # /usr/annex
CFLAGS	=   -DINETD -DSGI -DSYS_V  -I../inc
LIBFLAG	= 
LIBANX_C = erpc_subr.c srpc.c api_if.c
LIBANX_O = erpc_subr.o srpc.o api_if.o
CH_PASSWD = ch_passwd
INSTALL_INITD = 
USER_BFS = -DBFS=\"/usr/spool/erpcd/bfs\"

