#! /sbin/sh
#
# This script is invoked as an exitop when MAC is installed.  It
# puts the initial MAC and Capability attributes on files.
# 	
echo "Initializing XFS extended attributes.  This operation may"
echo "take a while depending on the number of files installed"
attrinit -script=/etc/irix.mac
attrinit -script=/etc/irix.cap
echo "XFS extended attributes initialized."
exit 0
